html,
body {
    height: 100%;
    -webkit-app-region: drag;
}

body {
    display: flex;
    align-items: center;
}

.section {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.field,
.modal-content {
    -webkit-app-region: no-drag;
}

.modal-content {
    max-height: initial;
}

.modal-content > .content > * {
    color: white;
}

.full-width {
    width: 100%;
}