.app-columns {
    height: 100%;
    display: flex;

    .app-column {
        height: 100%;
        position: relative;
        overflow-y: auto;
    }

    .static {
        width: 250px;
        border-right: 2px solid $darkBorder;
        flex-shrink: 0;
    }

    .fit {
        flex-grow: 1;
    }

    .main {
        flex: 1;
    }

    .section {
        padding: 0px;
    }
}