.app-columns {
    height: 100%;
    display: flex;

    .app-column {
        height: 100%;
        position: relative;
    }

    .static {
        width: 250px;
        border-right: 2px solid $darkBorder;
    }

    .main {
        flex: 1;
    }
}