//**** Navigation Styling ****//

.section-navigator {
    width: 80px;
    padding-top: 40px;
    background: $darkColor;
    z-index: 10;
    box-shadow: 0 0 10px rgba(15, 15, 15, 0.75);

    .navigator-icon {
        width: 50px;
        height: 50px;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: rgb(88, 89, 92);
        transition: 300ms;
        border-radius: 10px;
        -webkit-app-region: no-drag;

        &:hover,
        &.active-nav-item {
            color: rgb(120, 120, 120);
            background-color: rgb(60, 60, 60);
            cursor: pointer;
        }
    }
}

.app-nav-item {
    padding: 20px;
    display: flex;
    align-items: center;

    .img {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-right: 10px;
        flex-shrink: 0;

        & > img {
            border-radius: 10px;
        }
    }

    .nav-title {
        flex: 1;
        align-self: center;
        word-break: break-word;
    }

    &.selected,
    &:hover {
        background-color: $selectedDarkColor;
        cursor: pointer;
    }

    &:first-child {
        border-bottom: 2px solid $darkBorder;
    }
}